<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" routerLink="/"><i class="fa fa-shopping-basket" aria-hidden="true"></i> Stuff 'n Things</a>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/products">Products</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/basket">Basket</a>
            </li>
        </ul>
        <span class="navbar-text cart-item">
            <basket-icon></basket-icon>
        </span>
    </div>
</nav>
<div class="container-fluid">
    <router-outlet></router-outlet>
</div>