@import "../../../node_modules/bootstrap/scss/bootstrap";

$border-size: 2px;
$dark: #292b2c;

body {
  padding-top: 4.5rem;
}

.collapsible-header {
  border-bottom: $border-size solid $dark;
  display: block;
  padding: 0 15px;

  cursor: pointer;
}

.image-not-found {
  color: white;
  font-size: 400%;
}

.cart-item .fa {
  color: white;
  font-size: 120%;
  vertical-align: middle;
}