<div class="basket">
    <h1>Basket</h1>
	<div class="container-fluid" *ngIf="basket">
        <div class="row">
            <div class="col-6">Name</div>
            <div class="col-2">Price</div>
            <div class="col-2">Count</div>
            <div class="col-2">Subtotal</div>
        </div>
        <div class="row" *ngFor="let entry of basket.entries | mapToEntries">
            <div class="col-6">{{entry.value.product.name}}</div>
            <div class="col-2">{{entry.value.product.price | currency:'EUR':true}}</div>
            <div class="col-2"><input class="form-control" type="number" min="0" [value]="entry.value.count" (change)="setCount(entry.key, $event)"></div>
            <div class="col-2">{{entry.value.subTotal | currency:'EUR':true}}</div>
        </div>
        <div class="row justify-content-end">
            <div class="col-2">Total</div>
            <div class="col-2">{{basket.total | currency:'EUR':true}}</div>
        </div>
    </div>
</div>