$row-min-height: 200px;

$card-image-size: 200px;
$card-image-thumbnail-base-z: 1020;
$card-image-thumbnail-size: 150px;
$card-image-thumbnail-offset: 25px;

.product {
	min-height: $row-min-height;
	width: $card-image-size;

	.image-holder {
		display: flex;
		justify-content: space-around;
		align-items: center;

		position: relative;
		background-color: #eceeef;
		width: $card-image-size;
		height: $card-image-size;
	}
}