<div class="card product">
    <div class="card-img-top image-holder">
        <img [src]="imageUrl" (error)="imageLoadError($event)" [hidden]="!showImage">
        <i class="image-not-found fa fa-file-image-o" aria-hidden="true" [hidden]="showImage"></i>
    </div>
    <div class="card-block">
        <h4 class="card-title">{{product.name}}</h4>
        <p class="card-text">{{product.description}}</p>
        <dl>
            <dt>Price</dt>
            <dd>{{product.price | currency:'EUR':true}}</dd>
            <dt>In basket</dt>
            <dd><input class="form-control" type="number" min="0" [value]="count" [formControl]="countControl"></dd>
            <ng-container *ngFor="let entry of product.properties | mapToEntries">
                <dt>{{entry.key}}</dt>
                <dd>{{entry.value}}</dd>
            </ng-container>
        </dl>
    </div>
</div>